{% extends "./html/_layouts/_default.html" %}

{% block title %} Contact {{SITE_NAME}} {% endblock %}

{% block content %}

<div id="layout">
    {{ macros.render_responsive_menu_button() }}

    {{ macros.render_menu("Contact") }}

    <div id="main">
        <div class="header">
            <h1>Contact</h1>
            <h2>Ways to contact developer</h2>
        </div>

        <div class="content">
            <h2 class="content-subhead">Email</h2>
            <p>
                You can e-mail me at <a href="mailto:zhixian@hotmail.com">zhixian@hotmail.com</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}