{% extends "./html/_layouts/_default.html" %} {% block title %} Home {% endblock %} {% block content %}

<header>
    <div class="pure-g">
        <div class="pure-u-1-5"></div>
        <div class="pure-u-3-5 banner-unit section-border">
            <div class="pure-g">
                <div class="pure-u-3-5">
                    &nbsp;
                </div>
                <div class="pure-u-2-5">
                    <h1 class="text-right">Login
                        <i class="fa fa-id-card-o"></i>
                    </h1>
                </div>
            </div>
        </div>
        <div class="pure-u-1-5"></div>
    </div>
</header>

<div class="pure-g">
    <div class="pure-u-1-5"></div>
    <div class="pure-u-3-5">

        
        
        <form id="login_form" class="pure-form pure-form-aligned" method="POST">
            <fieldset>
                <legend>Log in form</legend>
        
                <div class="pure-control-group">
                    <label for="form_username">Username</label>
                    <input id="form_username" name="form_username" type="text" placeholder="Username">
                    <span class="pure-form-message-inline">This is a required field.</span>
                </div>

                <div class="pure-control-group">
                    <label for="form_password">Password</label>
                    <input id="form_password" name="form_password" type="password" placeholder="Password">
                    <span class="pure-form-message-inline">This is a required field.</span>
                </div>
        
                <div class="pure-controls">
                    <button type="submit" class="pure-button pure-button-primary">Log in</button>
                </div>
            </fieldset>
        </form>

        
    </div>
    <div class="pure-u-1-5"></div>
</div>


{% endblock %} 

{% block scripts %} 

{% raw %}{% endraw %}

<script type="text/javascript">
document.getElementById("login_form").onkeypress = function(e) {
    var key = e.charCode || e.keyCode || 0;     
    if (key == 13) {
        // alert("I told you not to, why did you do it?");
        e.preventDefault();
    }
}
</script>
{% endblock %}