{% extends "./html/_layouts/_default.html" %}

{% block title %} Services {{SITE_NAME}} {% endblock %}

{% block content %}

<div id="layout">
    {{ macros.render_responsive_menu_button() }}

    {{ macros.render_menu("Services", auth_cookie) }}

    <div id="main">
        <div class="header">
            <h1>Services</h1>
            <h2>A description of services available.</h2>
        </div>

        <div class="content">
            <h2 class="content-subhead">Apply for leave.</h2>
            <p>
                A self-service function to apply for leave.
            </p>

            <h2 class="content-subhead">Payroll/Payslips.</h2>
            <p>
                A self-service function to apply for leave.
            </p>


        </div>
    </div>
</div>
{% endblock %}