{% extends "./html/_layouts/_default.html" %}

{% block title %} Services {{SITE_NAME}} {% endblock %}

{% block content %}

<div id="layout">
    {{ macros.render_responsive_menu_button() }}

    {{ macros.render_menu("Services") }}

    <div id="main">
        <div class="header">
            <h1>Services</h1>
            <h2>A description of services available.</h2>
        </div>

        <div class="content">
            <h2 class="content-subhead">Some self-service function</h2>
            <p>
                A fair description of this particular service.
            </p>


        </div>
    </div>
</div>
{% endblock %}