{% extends "./html/_layouts/_default.html" %}

{% block title %} Services {{SITE_NAME}} {% endblock %}

{% block content %}

<div id="layout">
    {{ macros.render_responsive_menu_button() }}

    {{ macros.render_menu("Resources") }}

    <div id="main">
        <div class="header">
            <h1>Resources</h1>
            <h2>A description of resources available.</h2>
        </div>

        <div class="content">
            <h2 class="content-subhead">Resource booking</h2>
            <p>
                Resource administration module
            </p>

        </div>
    </div>
</div>
{% endblock %}